#header {
width: 100%;
/*background: url('.../images/welcome-demo.gif') no-repeat;*/
color: white;
background-color: black;
/*asset('bundles/acmedemo/images/welcome-demo.gif')*/
position: relative;
height: 658px;
background-position-x: 172px;
}